body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0738;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #093e18;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0c404f;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(138, 0, 0);
    background-color: #19f09d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

#horoscope-display {
    margin-top: 20px;
    font-size: 20px;
    color: #2901dd;
}
